#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
export DH_VERBOSE = 1

# See FEATURE AREAS in dpkg-buildflags(1).
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@


override_dh_auto_configure:
	# Speed up the build by reusing an existing image if it exists
	mkdir -p debian/tmp/usr/lib/shutorial/
	if [ -e debian-stable.squashfs ] ; cp debian-stable.squashfs debian/tmp/usr/lib/shutorial/ ; fi
	# Build the image we need to ship in the package
	DISTDIR=debian/tmp ./shutorial-admin.sh build-squashfs

