#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
export DH_VERBOSE = 1

# See FEATURE AREAS in dpkg-buildflags(1).
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@


override_dh_auto_configure:
	# Speed up the build by reusing an existing image if it exists
	mkdir -p usr/lib/shutorial/
	if [ -e ../debian-stable.squashfs ] ; then echo "Using prebuilt image"; cp ../debian-stable.squashfs usr/lib/shutorial/ ; fi
	# Build the image we need to ship in the package
	export DISTDIR=. ; sh -x ./shutorial-admin.sh ensure-squashfs

