name: Git builds

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Only trigger manually
on: [workflow_dispatch]

jobs:
  debian:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: build Debian package
        run: |
          sudo apt install build-essential debhelper-compat python3 python3-markdown python3-markupsafe python3-jinja2 sharutils
          cp -r distros/debian .
          make debian
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: shutorial_*_all.deb
          name: debian_package

