name: Git builds

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Only trigger manually
on: workflow_dispatch

jobs:
  debian:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: build Debian package
        run: |
          sudo apt install debhelper-compat python3 python3-markdown python3-markupsafe python3-jinja2 sharutils
          cp -r distros/debian .
          make debian
      -
        name: upload
        uses: actions/upload-artifact@v3
        with:
          path: shutorial_*_all.deb
          name: debian_package

  arch:
    runs-on: ubuntu-latest
    container:
      image: archlinux
      options: --privileged
    steps:
      - uses: actions/checkout@v3
      - name: Install yay
        run: |
          pacman -Sy --needed git base-devel
          git clone https://aur.archlinux.org/yay-bin.git
          cd yay-bin
          makepkg -si
      - name: Install dependencies
        run: |
          yay -Sy mmdebstrap
          pacman -Sy schroot squashfs-tools
          pacman -Sy python-markdown python-markupsafe python-jinja sharutils
      - name: Build Arch package
        run: |
          make arch-linux
      -
        name: upload
        uses: actions/upload-artifact@v3
        with:
          path: shutorial-*.pkg.tar.xz
          name: arch_package
